
html,body {
	margin: 0px;
	padding: 0px;
	height:100%;
}

div#page {
	height:100%;
}
#fakeheight {
	height: 2400px;
	width: 1px;
}
/* navigation */
nav {
	z-index:30;
	font-family: Impact;
	font-size:36px;
	width:100%;
	height:60px;
	position:absolute;
	/*margin-top:40px;*/
}
nav ul {
	width:100%;
	max-width:1024px;
	margin:0 auto;
	background:#002b45;
}
nav ul li {
	float:left;
	padding: 9px 27px;
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
}
nav ul li.active {
	background:#1d80be;
}
nav div#tagline_holder {
	background:#ffffff;
	height:40px;
	position:relative;
}
nav div#tagline_holder div#tagline {
	font-family: 'Covered By Your Grace', cursive;
	width:100%;
	max-width:960px;
	margin:0 auto;
	white-space:nowrap;
	color:#1d80be;
	font-size:22px;
	line-height:40px;
	clear:both;
	text-align:right;
	-webkit-font-smoothing: antialiased;
}
/* end navigation */

/* sections - general */
div#sections {
	width:100%;
	max-width:1024px;
	margin:0 auto;
}
section span { /* probably should remove this */
	font-family: Impact;
	font-size: 50px;
	color: #2B2B2B;
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	position: absolute;
	box-shadow: 8px 8px 5px rgba(20, 20, 20, 1);
	border-radius: 15px;
	width: 400px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}


section.sec {
	width:100%;
	max-width:1024px;
	min-height:1000px;
	background:#e3e3e3 url(../images/footer.jpg) no-repeat bottom center;
	position:relative;
	overflow:hidden;
	padding-bottom:100px;
}
section#contact {
	background:#e3e3e3 url(../images/footer_tall.jpg) no-repeat bottom center;
}
/* end sections general */

/* mulitple sections */
.overlay {
	background: url(../images/thumb_overlay.png) no-repeat center center;
}
.overlay {
	color:#ffffff;
	text-align:center;
	width:221px;
	height:222px;
	font-family: 'Montserrat', sans-serif;
}

.overlay h3{
	font-size:2em;
	padding-top:2em;
}
.overlay p {
	font-size:1.4em;
}

.close_lbx {
	background:url(../images/close.png) no-repeat center center;
	width:25px;
	height:24px;
	margin:35px auto 0px;
	position:absolute;
	left:0;
	right:0;
	cursor:pointer;
}
.work_example .overlay {
	display:none;
}
/* intro page */
section#sec_home {
	width:100%;
	height:100%;
	position:relative;
	background:none;
	max-width:none;
	padding-bottom:0;
}
div#intro-content {
	width:488px;
	height:244px;
	margin-left:-244px;
	margin-top: -122px;
	position:absolute;
	top:50%;
	left:50%;
}
div#intro-image {
	background:url(../images/logo_animation.png) no-repeat center top;
	width:368px;
	height:141px;
	margin:0 auto;
}
div#intro-content h1 {
	padding-top:5%;
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#002b45;
	font-size:2.5em;
}


/* end intro page */

/* home page 
section#sec_home {
	background:#ffffff;
	top:0%;
	max-width:none;
	margin-left:0;
	left:0;
	height:100%;
	position:relative;
}
div#intro-content {
	position:relative;
	top:40%;
	left:35%;
}
img#header_logo, img#header_logo_white {
	position:absolute;
}
img#header_logo_white {
	opacity:0;
}
div#intro-content h1 {
	padding-top:12%;
}
*/
/* work page */
section#sec_work, section#sec_services, section#sec_clients, section#sec_team, section#sec_careers, section#sec_contact {
	height:auto;
}
section#sec_work .sec_header {
	background:url(../images/circle_convex.png) no-repeat center top;
	height:26.2em;
	background-size:contain;
	text-align:center;
	margin-top:-180px;
}
section#sec_work .sec_header h1 {
	font-family: 'Montserrat', sans-serif;
	color:#ffffff;
	font-size:2em;
	padding-top:6.3em;
}
section#sec_work .sec_header p {
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size:26px;
}

div.work_examples {
	width: 88%;
	margin:0 auto;
}
div.work_example {
	width:221px;
	height:222px;
	float:left;
	margin:30px;
	background-position:0 0;
}
div.work_example:hover {
	//background-position:-221px center !important;
}
div#work_example_01 {
	background:url(../images/work/whitepages_t.png) no-repeat;
}
div#work_example_02 {
	background:url(../images/work/whmh_t.png) no-repeat;
}
div#work_example_03 {
	background:url(../images/work/yp_t.png) no-repeat;
}
div#work_example_04 {
	background:url(../images/work/att_disney_t.png) no-repeat;
}
div#work_example_05 {
	background:url(../images/work/myatt_t.png) no-repeat;
}
div#work_example_06 {
	background:url(../images/work/mobitv_t.png) no-repeat;
}
div#work_example_07 {
	background:url(../images/work/abctv_t.png) no-repeat;
}
div#work_example_08 {
	background:url(../images/work/eppt_t.png) no-repeat;
}
div#work_example_09 {
	background:url(../images/work/isis_t.png) no-repeat;
}
div#work_example_10 {
	background:url(../images/work/z2_t.png) no-repeat;
}
div#work_example_11 {
	background:url(../images/work/lavoz_t.png) no-repeat;
}
div#work_example_12 {
	background:url(../images/work/attlatino_t.png) no-repeat;
}

/* end work page */

/* services page */
section#sec_services .sec_header {
	background:url(../images/circle_concave.png) no-repeat center top;
	height:31em;
	background-size:contain;
	text-align:center;
	margin-top:-180px;
}

section#sec_services .sec_header p {
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size:2em;
	padding-top:6.8em;
}

section#sec_services div.services_examples {
	text-align:center;
	margin-top:-96px;
}
section#sec_services div.services_example {
	width:221px;
	height:222px;
	float:none;
	margin:28px;
	background-position:0 0;
	display:inline-block;
}

.services_example {
	position:relative;
}
.services_example .front, .services_example .back {
	position:absolute;
	top: 0;
}
.services_example .back {
	display:none;
}

/* end services section */

/* clients section */
section#sec_clients .sec_header {
	background:url(../images/circle_convex.png) no-repeat center top;
	height:29em;
	background-size:contain;
	text-align:center;
	margin-top:-246px;
}

section#sec_clients .sec_header p {
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size:2em;
	padding-top:8.7em;
}

section#sec_clients div.client_examples {
	height: 600px;
	position:relative;
	margin-top:-41px;
}
section#sec_clients div.client_example {
	position:absolute;
}
div#client_example_01 { /* z2 */
	top:30px;
	left:91px;
}
div#client_example_02 { /* whitepages */
	top:217px;
	left:61px;
}
div#client_example_03 { /* fx */
	top:411px;
	left:48px;
}
div#client_example_04 { /*espn  */
	top:29px;
	left:319px;
}
div#client_example_05 { /* nascar */
	top:260px;
	left:334px;
}
div#client_example_06 { /* disney */
	top:414px;
	left:301px;
}
div#client_example_07 { /*att  */
	top:36px;
	left:502px;
}
div#client_example_08 { /* mobitv */
	top:409px;
	left:472px;
}
div#client_example_09 { /* fox */
	top:29px;
	left:732px;
}
div#client_example_10 { /* uverse */
	top:266px;
	left:693px;
}
div#client_example_11 { /* abc */
	top:404px;
	left:821px;
}

/* end clients section */

/* team section */
section#sec_team .sec_header {
	background:url(../images/circle_concave.png) no-repeat center top;
	height:31em;
	background-size:contain;
	text-align:center;
	margin-top:-13.7em;
}

section#sec_team .sec_header p {
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size:2em;
	padding-top:8.1em;
}

section#sec_team div.team_examples {
	text-align:center;
	margin-top:-96px;
}
section#sec_team div.team_example {
	width:221px;
	height:222px;
	float:none;
	margin:28px;
	background-position:0 0;
	display:inline-block;
}

div.team_example:hover {
	background-position:-221px center !important;
}
div#team_example_01 {
	background:url(../images/team/stephenJ_t.png) no-repeat;
}
div#team_example_02 {
	background:url(../images/team/joeP_t.png) no-repeat;
}
div#team_example_03 {
	background:url(../images/team/tracyG_t.png) no-repeat;
}
div#team_example_04 {
	background:url(../images/team/stephenM_t.png) no-repeat;
}
div#team_example_05 {
	background:url(../images/team/jakeP_t.png) no-repeat;
}
div#team_example_06 {
	background:url(../images/team/tatianaD_t.png) no-repeat;
}
div#team_example_07 {
	background:url(../images/team/paolaS_t.png) no-repeat;
}
div#team_example_08 {
	background:url(../images/team/ericB_t.png) no-repeat;
}
div#team_example_09 {
	background:url(../images/team/patrickF_t.png) no-repeat;
}
div#team_example_10 {
	background:url(../images/team/jasonS_t.png) no-repeat;
}


/* end team section */

/* careers section  */
section#sec_careers .sec_header {
	background:url(../images/circle_convex.png) no-repeat center top;
	height:29em;
	background-size:contain;
	text-align:center;
	margin-top:-246px;
}

section#sec_careers .sec_header p {
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size:2em;
	padding-top:8.5em;
}

section#sec_careers .sec_content {
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size:18px;
}
section#sec_careers .sec_content p {
	color:#6d6d6d;
	line-height:27px;
}
section#sec_careers .sec_content ul {
	padding:18px 0 9px;
}
section#sec_careers .sec_content ul li {
	color:#1d80be;
	line-height:35px;
}

/* end careers section */


/* contact section */
section#sec_contact {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin-bottom:25px;
	background:#e3e3e3;
}
section#sec_contact .sec_header {
	background:url(../images/circle_concave.png) no-repeat center top;
	height:31em;
	background-size:contain;
	text-align:center;
	margin-top:-15em;
}

section#sec_contact .sec_header p {
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size:2em;
	padding-top:7.6em;
}

section#sec_contact .sec_left {
	width:29.3%;
	margin-left:15.5%;
	color:#1b3f54;
	font-size:18px;
	float:left;
	margin-top:-58px;
}

section#sec_contact .sec_right {
	float:left;
	margin-top:-58px;
	width:426px;
}
section#sec_contact .sec_left address {
	font-style:normal;
}
section#sec_contact .sec_left a {
	color:#1b3f54;
	text-decoration:none;
}
section#sec_contact .sec_left address,
section#sec_contact .sec_left div {
	padding-bottom:37px;
}

section#sec_contact .sec_right ul li {
	margin-right:10px;
	float:left;
	padding-bottom:2px;
}
section#sec_contact .sec_right ul li.half {
	width:201px;
}
section#sec_contact .sec_right ul li.three-quarters {
	width:309px;
}
section#sec_contact .sec_right ul li.one-quarter {
	padding-top:115px;
}
section#sec_contact .sec_right ul li label {
	color:#1d80be;
	display:block;
}
section#sec_contact .sec_right ul li label.required:after {
	content: "*";
}

section#sec_contact .sec_right ul li input {
	height:31px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:solid 1px #bdbebd;
}
section#sec_contact .sec_right ul li input[type=text] {
	padding:0 7px;
}

section#sec_contact .sec_right ul li.wide input {
	width:405px;
}

section#sec_contact .sec_right ul li.half input {
	width:193px;
}

section#sec_contact .sec_right ul li textarea {
	width:311px;
	height:125px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:solid 1px #bdbebd;
}

section#sec_contact .sec_right ul li input[type=submit] {
	background:#1d80be;
	font-family: 'Covered By Your Grace', cursive;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	width:96px;
	font-size:1.5em;
}

div.sec_footer {
	position:absolute;
	bottom:0px;
	width:100%;
	background:url(../images/footer_tall.jpg) no-repeat bottom center;
	height:140px;
} 
ul#social_links {
	float:left;
	margin-left:8%;
	width:15%;
	margin-top:65px;
}
ul#social_links li{
	float:left;
	margin-right:12px;
}
div.copyright {
	text-align:center;
	float:left;
	color:#ffffff;
	line-height:38px;
	font-size:0.8em;
	width:41%;
	margin-top:65px;
}
ul#assoc_links {
	float:right;
	margin-right:8%;
	width:27%;
	margin-top:57px;
}
ul#assoc_links li {
	float:left;
}


/*  end contact section */


/* generic stuff */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

#overlay {
	background:#194057;
	position:fixed;
	width:100%;
	height:100%;
	z-index:4999;
	display:none;
	top:0;
	opacity:0.9;
  	filter:alpha(opacity=90); /* For IE8 and earlier */
	overflow-y:scroll;
}

#lightbox {
	position:absolute;
	z-index: 5000;
	width:800px;
	height:800px;
	text-align: center;
}

/* below should be just for testing */
#scrollPercentLabel {
	position:fixed;
	bottom:10px;
	left:0;
	font-family: Impact;
	font-size: 50px;
	color: #2B2B2B;
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	box-shadow: 8px 8px 5px rgba(20, 20, 20, 1);
	border-radius: 15px;
	z-index:25;
}

